body {
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
  }
  
  table, th, td {
    border: 3px solid #ff0000;
    padding: 0.8rem;
    text-align: center;
  }
  
  th {
    background-color: #e8acac;
  }
  
  tr :hover {
    background-color: red;
  }
  body {
    background-color: rgb(240, 112, 112);


}
.AudiRS3  {
  width: auto;
  height: 100px;
  
  }
  .Golfr  {
    width: auto;
    height: 100px;
    
    }